<roundcube:object name="doctype" value="html5" />
<html>

<head>
	<title>
		<roundcube:object name="pagetitle" />
	</title>
	<roundcube:include file="/includes/links.html" />
	<link rel="stylesheet" type="text/css" href="/thirdparty/materialize/css/materialize.css"/>
	<link rel="stylesheet" type="text/css" href="/styles/dist/login.css" />
</head>

<body>
	<div id="login-component">
		<div id="content">
			<div class="center-container">
				<div class="container center-align">
					<div class="row">
						<div class="col s12 m12 offset-l3 l6">
							<div id="login-form">
								<div id="login-form-container">
									<roundcube:object name="logo" src="/images/roundcube_logo.png" id="logo"/>
									<br>
									<div class="left-align">
										<div class="login-legend">Log in</div>
										<div class="login-text"><roundcube:object name="productname" /></div>
									</div><br />
									<roundcube:form name="form" method="post">
										<roundcube:object name="loginform" form="form" size="40" submit=true />
									</form>

									<div class="box-bottom" role="complementary">
										<roundcube:object name="message" id="message" />
										<noscript>
												<p class="noscriptwarning"><roundcube:label name="noscriptwarning" /></p>
											</noscript>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="bottomline" role="contentinfo" class="center-align">
			<roundcube:object name="productname" />
			<roundcube:object name="version" condition="config:display_version" />
			<roundcube:if condition="config:support_url" /> &nbsp;&#9679;&nbsp;
				<a href="<roundcube:var name='config:support_url' />" target="_blank" class="support-link">
					<roundcube:label name="support" />
				</a>
			<roundcube:endif />
			<roundcube:container name="loginfooter" id="bottomline" />
		</div>

		<roundcube:include file="/includes/footer.html" />

		<roundcube:object name="preloader" images="
	  /images/ajaxloader.gif
	  /images/ajaxloader_dark.gif
	  /images/buttons.png
	  /images/addcontact.png
	  /images/filetypes.png
	  /images/listicons.png
	  /images/messages.png
	  /images/messages_dark.png
	  /images/quota.png
	  /images/selector.png
	  /images/splitter.png
	  /images/watermark.jpg
	" />

		<script type="text/javascript" src="/scripts/login.js"></script>
	</div>
</body>

</html>
